header {
    background: linear-gradient(to bottom, #0ABAB5, #32a7be);
    padding: 20px;
    color: #fff;
}

footer {
    background: linear-gradient(to bottom, #0ABAB5, #32a7be);
    padding: 10px;
    color: #fff;
}   