#nav-bar {
    background: linear-gradient(to bottom, #0ABAB5, #32a7be);
    padding: 20px;
    color: #fff;
}

footer {
    background: linear-gradient(to bottom, #0ABAB5, #32a7be);
    color: #fff;
    padding: 20px;
}   

.container-fluid{
	background-color: #fff;
	min-height: 300px;
}

/* .container-fluid{
	background-color: #fff;
	min-height: 400px;
} */

.btn-rounded {
    background-color: #32a7be;
    border: none;
    color: white;
    /* padding: 20px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
  }

.navbar-nav {
    text-align: right;
}

.nav-link{
    color: #fff;
}

.div_id{
    text-align: center;
}

.navbar-brand {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}